<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginmapper">
	
	<select id="selectReserveInfo" resultType="javagers.pjh.ReserveInfo">
		select * from RESERVE_INFO
	
	</select>
	
	<select id="selectScreenInfo" resultType="javagers.pjh.ScreenInfo">
		select * from SCREEN_INFO
	</select>
	
	
</mapper>








